<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.EventDao">
	

    <insert id="insertEvent" useGeneratedKeys="true" keyColumn="eventId" keyProperty="eventId" parameterType="Event">
        INSERT INTO `event`
        SET
        regDate = NOW(),
        updateDate = #{updateDate},
        dueDate = #{dueDate},
        status = #{status},
        `body` = #{body},
        `title` = #{title},
        provider_id = #{provider_id}
    </insert>

    <select id="selectEventList" resultType="Map">
        SELECT *
        FROM `event` e, `member` m
        WHERE e.provider_id = m.memberId
          AND e.`status` != 'S'
        <if test="!option.equals('ALL')">
            AND e.`status` = #{option}
        </if>
        ORDER BY e.regDate DESC
        LIMIT #{startLimit}, #{endLimit}
    </select>
    <select id="selectEventListCount" resultType="int">
        SELECT COUNT(*) AS result
        FROM event
        WHERE 1
        <if test="!option.equals('ALL')">
            AND `status` = #{option}
        </if>
        AND `status` != 'S'
    </select>
    
    <!--  -->
    <select id="adminEvent" resultType="AdminEvent">
    SELECT
	@rowNum := @rowNum + 1 AS 'num',
	a.eventId,
	DATE_FORMAT(a.regDate, '%Y-%m-%d') AS 'eventRegDate',
	DATE_FORMAT(a.dueDate, '%Y-%m-%d') AS 'eventDueDate',
	a.status,
	a.body,
	a.title,
	a.couponNumber,
	a.couponName,
	a.couponPrice,
	DATE_FORMAT(a.publishedDate, '%Y-%m-%d') AS 'publishedDate',
	DATE_FORMAT(a.couponEnd, '%Y-%m-%d') AS 'couponEnd',
	a.discountRate
	
			
	FROM (SELECT	@rowNum := #{currentPage}) tmp, 
		(SELECT	
			b.eventId,
			b.regDate,
			b.dueDate,
			b.status,
			b.body,
			b.title,
			a.couponNumber,
			a.couponName,
			a.couponPrice,
			a.publishedDate,
			a.couponEnd,
			a.discountRate
			
			FROM `coupon` a, `event` b
		WHERE	a.event_id = b.eventId
		 <if test="!option.equals('ALL')">
				AND	b.status = #{option}
		</if>
				
				) a
	LIMIT	#{currentPage}, #{listPerPage}
    
    </select>
    
    <update id="updateEventStatus">
		
		UPDATE `event`
		SET STATUS = #{status}
		WHERE eventId = #{eventId}

    </update>
    
    <select id="adminEventcount" resultType="int">
    SELECT	
		COUNT(*) AS 'result'
		
		
		FROM `coupon` a, `event` b
	WHERE	a.event_id = b.eventId

<if test="!option.equals('ALL')">
		AND	b.status = #{option}
</if>
	
    </select>
    
    
    
</mapper>
