<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.wapoo.dao.OrderDao">
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId" parameterType="Map">
        INSERT INTO `order`
        SET `orderDate` = NOW(),
            requests = #{orderRequest},
            totalPrice = #{totalPrice},
            discount = #{discount},
            payment = 0,
            address= #{address},
            phone = #{phone},
            member_id = #{memberId}
    </insert>
    <insert id="insertOrderInfo">
        INSERT INTO `orderInfo`
        SET `order_id` = #{orderId},
            `food_id` = #{foodId},
            `quantity` = #{quantity},
            `status` = 'S'
    </insert>

    <select id="selectPriceByFoodId" resultType="int">
        SELECT price
        FROM food
        WHERE foodId = #{foodId};
    </select>

    <insert id="insertPayment" parameterType="Payment">
        INSERT INTO payment
        SET payDate = NOW(),
            payMethod = #{payMethod},
            payAmount = #{payAmount},
            aid = #{aid},
            tid = #{tid},
            order_id = #{order_id}
    </insert>

    <update id="updateOrderState"> 
	UPDATE `order`
        SET `status` = #{status}
        WHERE orderId = #{orderId}      

    </update>

    <update id="updateOrderPayment">
        UPDATE `order`
        SET payment = #{total}
        WHERE orderId = #{order_id};
    </update>

    <update id="updateOrderInfosStatus">
        UPDATE `orderInfo`
        SET `status` = #{status}
        WHERE order_id = #{order_id};
    </update>

    <select id="selectOrderByOrderId" resultType="Map">
        SELECT *
        FROM `order`
        WHERE orderId = #{orderId}
    </select>

    <select id="selectAllOrderedFoodByOrderId" resultType="Map">
        SELECT
            i.food_id foodId,
            i.quantity,
            i.status orderStatus,
            f.name,
            f.description,
            f.status foodStatus,
            f.store_id,
            f.price,
            ff.name fileUrl
        FROM `orderInfo` i, food f, food_file ff
        WHERE i.food_id= f.foodId
          AND ff.food_id = f.foodId
          AND i.order_id = #{order_id}
    </select>

    <select id="selectFoodnameByFoodId" resultType="String">
        SELECT name
        FROM food
        where foodId=#{foodId}
    </select>
    
    <update id="updateOrder" >
    UPDATE	`order`
SET	STATUS= 'N'
WHERE	orderId = #{storeId}
    </update>

    
    
<!-- 주문표 -->
<select id="storeOrder" resultType="StoreOrder">
SELECT	a.name AS 'name',
	a.store_id AS 'storeId',
	a.price AS 'price',
	b.quantity AS 'quantity',
	b.status AS 'status',
	b.orderDate AS 'orderDate',
	b.totalPrice AS 'totalPrice',
	b.discount AS 'discount',
	b.payment AS 'payment',
	b.address AS 'address',
	b.phone AS 'phone',
	b.requests AS 'requests',
	b.orderId AS 'orderId',
	b.orderInfoId AS 'orderInfoId'
	
FROM	food a, (SELECT	a.food_id AS 'foodId',
	a.quantity AS 'quantity',
	a.status AS 'status',
	b.orderDate AS 'orderDate',
	b.totalPrice AS 'totalPrice',
	b.discount AS 'discount',
	b.payment AS 'payment',
	a.order_id AS 'orderId',
	b.address AS 'address',
	b.phone AS 'phone',
	b.requests AS 'requests',
	a.orderInfoId AS 'orderInfoId'
	
	
	FROM	orderInfo a, `order` b
	WHERE	a.order_id = b.orderId) b
WHERE	b.foodId = a.foodId
AND	a.store_id = #{storeId}

AND b.status = #{status}

ORDER BY b.orderId ASC

</select>

<!-- 가게별 주문 총합 -->
<select id="getTotalOrder" resultType="int">
SELECT COUNT(DISTINCT a.order_id)
FROM	`orderInfo` a, `food` b
WHERE	a.food_id = b.foodId
AND	a.status = #{status}
AND	b.store_id = #{storeId}

</select>

<!-- 주문 음식 1개 삭제 -->
<update id="deleteOrder">
UPDATE	`orderInfo`
SET	STATUS = 'N'
WHERE	orderInfoId = #{orderInfoId}
</update>

<!-- 주문1건 삭제 -->
<update id="deleteAllOrder">
UPDATE	`orderInfo`
SET	STATUS = 'N'
WHERE	orderInfoId = #{orderId}
</update>

<!-- 전체 주문 승인 -->
<update id="approveOrder">
UPDATE	`orderInfo`
SET	STATUS = 'Y'
WHERE	orderInfoId = #{orderId}
</update>

<!-- 가게 음식 판매 순위 -->
<select id="getFoodSaleAmount"  resultType="GraphFood">

SELECT	@rownum:= @rownum + 1 AS 'rowNum',
	a.*
FROM	(SELECT	b.name,
	IFNULL(a.quantity, 0) AS 'quantity',
	IFNULL(b.price * a.quantity, 0) AS 'price',
	
	a.discount AS 'discount'
		
		FROM	(SELECT 
					b.name AS 'name',
					b.store_id AS 'storeId',
					b.foodId AS 'foodId',
					IFNULL(SUM(a.discount),0) AS 'discount',
					
					IFNULL(SUM(a.quantity), 0) AS 'quantity',
					IFNULL(b.price * a.quantity, 0) AS 'price'
					
					
				FROM	(SELECT	IFNULL(b.quantity, 0) AS 'quantity',
						b.food_id AS 'foodId',
						a.discount AS 'discount'
						FROM `order` a, `orderInfo` b
					WHERE a.orderId = b.order_id
					AND	b.status = 'Y'
					
<choose>
	<when test="date == 'week'">
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 WEEK))
	</when>
	<when test="date == 'day'">
		AND DATE_FORMAT(a.orderDate, '%Y-%m-%d') = DATE_FORMAT(CURDATE(),  '%Y-%m-%d')
	</when>
	<when test="date == 'month'">
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 MONTH))
	</when>
	<otherwise>
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 YEAR))
	</otherwise>
</choose>
			) a RIGHT OUTER JOIN `food` b
				ON	a.foodId = b.foodId

				WHERE	b.store_id = #{storeId}
				GROUP BY(b.name)) a RIGHT OUTER JOIN (SELECT *
									FROM `food`
									WHERE store_id = #{storeId}) b
	ON a.name =b.name 
	ORDER BY a.quantity DESC) a
WHERE (@rownum:=0)=0
</select>

<!-- 요일별 매출량 -->
<select id="getDayAmount" resultType="GraphDay">

SELECT CASE `day`

			WHEN '1' THEN '일요일'

			WHEN '2' THEN '월요일'

			WHEN '3' THEN '화요일'

			WHEN '4' THEN '수요일'

			WHEN '5' THEN '목요일'

			WHEN '6' THEN '금요일'

			WHEN '7' THEN '토요일'

			END AS 'WEEK', 
			a.count AS 'totalOrder',
			a.payment AS 'payment',
			a.discount AS 'discount'
FROM (
	SELECT 
		a.n AS 'day',
		COUNT(DISTINCT b.orderInfoId) AS 'count',
		IFNULL(b.orderInfoId, 0) AS 'orderId',
		IFNULL(SUM(b.price * b.quantity), 0) AS 'payment',
		IFNULL(b.price * b.quantity, 0) AS 'price',
		IFNULL(b.quantity, 0) AS 'quantity',
		IFNULL(SUM(b.discount), 0) AS 'discount'
		
		FROM (WITH RECURSIVE cte AS (
			    SELECT 1 AS n
			    UNION ALL
			    <![CDATA[SELECT n + 1 FROM cte WHERE n < 7]]> 
			    )
			SELECT n FROM cte) a LEFT OUTER JOIN
			(SELECT	DAYOFWEEK( a.orderDate)  AS 'date',
					a.orderInfoId AS 'orderInfoId',
					a.quantity AS 'quantity',
					a.orderDate AS 'orderDate',
					b.name AS 'name',
					b.price AS 'price',
					store_id AS 'storeId',
					a.discount AS 'discount'
				FROM(SELECT	
							a.orderDate AS 'orderDate',
							a.orderId AS 'orderInfoId',
							b.food_id AS 'foodId',
							b.quantity AS 'quantity',
							a.discount AS 'discount'
							

						FROM	`order` a, `orderInfo` b
						WHERE	a.orderId = b.order_id
						AND	b.status = 'Y'
<choose>
	<when test="date == 'week'">
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 WEEK))
	</when>
	<when test="date == 'month'">
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 MONTH))
		
	</when>
	<otherwise>
		AND DATE(a.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 YEAR))
	</otherwise>
</choose>
						) a, `food` b
				WHERE a.foodId = b.foodId
				AND	b.store_id = #{storeId}) b
	ON a.n = b.date
	GROUP BY a.n) a
</select>

<!-- 가게에 있는 모든 음식 -->
<select id="getStoreAllFood" resultType="String">

SELECT `name`
FROM	`food`
WHERE	store_id = #{storeId}

</select>

<!-- 최근 판매한 음식 매출량  -->
<select id="getResentFood" resultType="GraphResntFood">
SELECT CASE a.n

			WHEN '13' THEN '0~2'

			WHEN '2' THEN '2~4'

			WHEN '3' THEN '4~6'

			WHEN '4' THEN '6~8'

			WHEN '5' THEN '8~10'

			WHEN '6' THEN '10~12'

			WHEN '7' THEN '12~14'
			
			WHEN '8' THEN '14~16'
			
			WHEN '9' THEN '16~18'
			
			WHEN '10' THEN '18~20'
			
			WHEN '11' THEN '20~22'
			
			WHEN '12' THEN '22~24'

			END AS 'time', 
			IFNULL(a.name, 'X') AS 'name',
			IFNULL(a.price, 0) AS 'price',
			IFNULL(a.quantity, 0) AS 'quantity',
			IFNULL(a.price*a.quantity, 0) AS 'payment',
			IFNULL(a.discount, 0) AS 'discount'

FROM	(SELECT	*

		FROM	(WITH RECURSIVE cte AS (
			    SELECT 2 AS n
			    UNION ALL
			    <![CDATA[SELECT n + 1 FROM cte WHERE n < 13]]> 
			    )
			SELECT n FROM cte) a LEFT OUTER JOIN 
			(SELECT	
				FLOOR(DATE_FORMAT(b.orderDate,"%H")/2)+1 AS 'time',
			
				c.name,
				
				c.price,
				b.orderId,
				SUM(a.quantity) AS 'quantity',
				COUNT(b.orderDate) AS 'num',
				SUM(b.discount) AS 'discount'
				
				FROM	`orderInfo` a, `order` b, `food` c
			WHERE	a.order_id = b.orderId
			AND	a.food_id = c.foodId
			AND	a.status = 'Y'
<choose>
	<when test="date == 'day'">
		AND DATE_FORMAT(b.orderDate, '%Y-%m-%d') = DATE_FORMAT(CURDATE(),  '%Y-%m-%d')
	</when>
	<when test="date == 'week'">
		AND DATE(b.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 WEEK))
	</when>
	<otherwise>
		AND DATE(b.orderDate) >= DATE(SUBDATE(NOW(), INTERVAL 1 MONTH))
	</otherwise>
</choose>

			AND	c.store_id = #{storeId}
			AND	c.name=#{foodName}
			GROUP BY `time`) b
		ON	a.n = b.time) a
ORDER BY a.n ASC
</select>

<!-- 전월매출 등 -->
<select id="getPayment" resultType="Map">
SELECT	IFNULL(a.beforeMonthPayment, 0) AS 'beforeMonthPayment',
	IFNULL(b.payment, 0) AS 'payment',
	IFNULL(c.beforeDayPayment, 0) AS 'beforeDayPayment',
	IFNULL(d.dayPayment, 0) AS 'dayPayment',
	IFNULL(e.beforeDiscount, 0) AS 'beforeDiscount'
	FROM (SELECT SUM(payment)  AS 'beforeMonthPayment'
		FROM (SELECT	
				a.quantity * c.price AS 'payment'
			FROM	`orderInfo` a, `order` b, `food` c
			WHERE	a.order_id = b.orderId
			AND	DATE_FORMAT(b.orderDate, '%Y-%m') = DATE_FORMAT(NOW() - INTERVAL 1 MONTH, '%Y-%m') 
			AND	store_id = #{storeId}
			AND	a.food_id = c.foodId) a) a, 
		(SELECT SUM(payment) AS 'payment'
		FROM (SELECT	
				a.quantity * c.price AS 'payment'
			FROM	`orderInfo` a, `order` b, `food` c
			WHERE	a.order_id = b.orderId
			AND	DATE_FORMAT(b.orderDate, '%Y-%m') = DATE_FORMAT(NOW() , '%Y-%m')
			AND	store_id = #{storeId}
			AND	a.food_id = c.foodId) a) b,
		(SELECT SUM(payment) AS 'beforeDayPayment'
			FROM (SELECT	
					a.quantity * c.price AS 'payment'
				FROM	`orderInfo` a, `order` b, `food` c
				WHERE	a.order_id = b.orderId
				AND	DATE_FORMAT(b.orderDate, '%Y-%m-%d') = DATE_FORMAT(NOW() - INTERVAL 1 DAY, '%Y-%m-%d')
				AND	store_id = #{storeId}
				AND	a.food_id = c.foodId) a) c,
		(SELECT SUM(payment) AS 'dayPayment'
			FROM (SELECT	
					a.quantity * c.price AS 'payment'
				FROM	`orderInfo` a, `order` b, `food` c
				WHERE	a.order_id = b.orderId
				AND	DATE_FORMAT(b.orderDate, '%Y-%m-%d') = DATE_FORMAT(NOW() , '%Y-%m-%d')
				AND	store_id = #{storeId}
				AND	a.food_id = c.foodId) a) d,
		(SELECT SUM(discount) AS 'beforeDiscount'
			FROM (SELECT
					b.discount AS 'discount'
				FROM	`orderInfo` a, `order` b, `food` c
				WHERE	a.order_id = b.orderId
				AND	DATE_FORMAT(b.orderDate, '%Y-%m') = DATE_FORMAT(NOW() - INTERVAL 1 MONTH, '%Y-%m') 
				AND	store_id = #{storeId}
				AND	a.food_id = c.foodId) a) e
</select>


    
</mapper>
